<div class="col-md-4">
    <h2> <%= article.title %> </h2>
    <p>
        <%= article.description %>
    </p>
    <p>
        <a class="btn btn-secondary" href="/articles/<%= article.id %>" role="button">View details &raquo;</a></p>
  </div>